section#HOME_FOOTER {
  padding-top: 53px;
  padding-bottom: 42px;
}
section#HOME_FOOTER .container {
  margin: 0 auto;
  max-width: 1918px;
  padding-left: 30px;
  padding-right: 30px;
}
section#HOME_FOOTER .container .box {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
  padding-top: 69px;
  gap: 30px 0;
}
section#HOME_FOOTER .container .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #e1e1e1;
  top: 0;
}
section#HOME_FOOTER .container .box .info {
  max-width: 757px;
}
section#HOME_FOOTER .container .box .info .text-info {
  margin: 0;
  color: #363534;
  font-family: "Blacker Display";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 118.057%;
}
section#HOME_FOOTER .container .box .info .link {
  margin-top: 13px;
  display: flex;
  gap: 13px;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #363534;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}
section#HOME_FOOTER .container .box .info .link span {
  position: relative;
}
section#HOME_FOOTER .container .box .info .link span::before {
  position: absolute;
  content: "";
  bottom: -2.5px;
  width: 100%;
  border-bottom: 1px solid #363534;
}
section#HOME_FOOTER .container .box .location {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section#HOME_FOOTER .container .box .location .info-location {
  width: 100%;
}
section#HOME_FOOTER .container .box .location .info-location > .location-text {
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 0;
  color: #363534;
  font-family: "Work Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.8%;
}
section#HOME_FOOTER .container .box .location .info-location .contact {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}
section#HOME_FOOTER .container .box .location .info-location .contact > li {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  color: #363534;
  font-family: "Work Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 140.18%;
}
section#HOME_FOOTER .container .box .location .info-location .contact > li .email {
  text-decoration: none;
  color: #363534;
  font-family: "Work Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 140.18%;
}
section#HOME_FOOTER .container .box .box-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 224px;
  max-width: 225px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
section#HOME_FOOTER .container .box .box-logo .item {
  margin: 0;
  width: 100%;
  /*
          */
}
section#HOME_FOOTER .container .box .box-logo .item img {
  height: 100%;
  object-fit: contain;
}
section#HOME_FOOTER .container .box .box-logo .item:nth-child(1) {
  aspect-ratio: 6.484;
}
section#HOME_FOOTER .container .box .box-logo .item:nth-child(2) {
  aspect-ratio: 4.314;
}
section#HOME_FOOTER .container .box .box-logo .item:nth-child(3) {
  aspect-ratio: 6.24;
}
section#HOME_FOOTER .container .box .social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}
section#HOME_FOOTER .container .box .social-media > li {
  margin-top: 3.5px;
  margin-bottom: 3.5px;
  text-align: center;
}
section#HOME_FOOTER .container .box .social-media > li a {
  text-decoration: none;
  color: #363534;
  font-family: "Work Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.18%;
}
section#HOME_FOOTER .container .box .c-footer {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
section#HOME_FOOTER .container .box .c-footer .info-legal {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section#HOME_FOOTER .container .box .c-footer .info-legal > li {
  margin: 0;
}
section#HOME_FOOTER .container .box .c-footer .info-legal > li a {
  text-decoration: none;
  color: #363534;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
section#HOME_FOOTER .container .box .c-footer .text-pie {
  margin-bottom: 20px;
}
section#HOME_FOOTER .container .box .c-footer .text-pie > p {
  margin: 0;
  color: #363534;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  section#HOME_FOOTER .container .box {
    gap: 35px;
  }
  section#HOME_FOOTER .container .box .info .text-info {
    font-size: 30.24px;
  }
  section#HOME_FOOTER .container .box .location {
    justify-content: space-between;
    flex-direction: row;
  }
  section#HOME_FOOTER .container .box .location .info-location {
    width: 45%;
  }
  section#HOME_FOOTER .container .box .location .info-location .contact {
    margin-top: 11px;
  }
  section#HOME_FOOTER .container .box .box-logo {
    justify-content: space-between;
    gap: 32px;
  }
  section#HOME_FOOTER .container .box .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  section#HOME_FOOTER .container .box .social-media > li {
    margin: 0;
  }
  section#HOME_FOOTER .container .box .c-footer .text-pie > p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1300px) {
  section#HOME_FOOTER .container .box {
    flex-direction: row;
    gap: 25.42px 50px;
    justify-content: space-between;
  }
  section#HOME_FOOTER .container .box .info {
    width: 48%;
  }
  section#HOME_FOOTER .container .box .location {
    width: 48%;
  }
  section#HOME_FOOTER .container .box .location .info-location {
    width: 50%;
  }
  section#HOME_FOOTER .container .box .box-logo {
    max-width: 350px;
    margin: 45.58px 0 0 0;
    width: 30%;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: unset;
    gap: 0;
  }
  section#HOME_FOOTER .container .box .box-logo .item {
    margin: 0;
    width: 30%;
  }
  section#HOME_FOOTER .container .box .box-logo .item img {
    width: 100%;
  }
  section#HOME_FOOTER .container .box .social-media {
    margin-top: 45.58px;
    width: 48%;
    justify-content: end;
    align-items: end;
  }
  section#HOME_FOOTER .container .box .social-media > li {
    text-align: end;
  }
  section#HOME_FOOTER .container .box .social-media > li a {
    font-size: 18px;
  }
  section#HOME_FOOTER .container .box .c-footer {
    width: 100%;
    flex-direction: row;
  }
  section#HOME_FOOTER .container .box .c-footer .info-legal {
    width: 50%;
    flex-direction: row;
    gap: 18px;
  }
  section#HOME_FOOTER .container .box .c-footer .info-legal > li {
    position: relative;
  }
  section#HOME_FOOTER .container .box .c-footer .info-legal > li::after {
    content: "";
    position: absolute;
    right: -9px;
    bottom: calc(50% - 7px);
    border-right: 1px solid #363534;
    height: 12px;
  }
  section#HOME_FOOTER .container .box .c-footer .info-legal > li:last-child::after {
    display: none;
  }
  section#HOME_FOOTER .container .box .c-footer .info-legal > li a {
    font-size: 10px;
  }
  section#HOME_FOOTER .container .box .c-footer .text-pie {
    width: 50%;
    margin-top: -12.42px;
    margin-bottom: 0;
  }
  section#HOME_FOOTER .container .box .c-footer .text-pie > p {
    text-align: end;
  }
}
