section#HOME_SERVICES {
  padding-top: 73.5px; // esto es la mitad del padding recuerda

  .container {
    max-width: 1296px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    .paragraph-big {
      margin-top: 0;
      color: #363534;
      leading-trim: both;
      text-edge: cap;
      font-family: "Blacker Display";
      font-size: 20px;
      //   font-size: 36px; desktop
      font-style: normal;
      font-weight: 500;
      //   font-weight: 700; si le pongo esto todas la letras se ven bold, y no se ve bien
      line-height: 139.152%;
    }
  }
}
